//1rem = 16px

// Custom Style

body {
  background: #FBFCFD;
  padding-bottom: 200px;
}

.centred {
  display: block;
  margin: auto
}

h2 {
  text-align: center;
  color: $dark-title-color;
  letter-spacing: 0.48px;
  font-size: 1.6em;
  line-height: 32px;
  margin-top: 10px;
}

h3 {
  text-align: center;
  color: $green-title-color;
  text-transform: uppercase;
  font-size: 1em;
  margin-bottom: 20px;
}

p {
  font-size: 1em;
  text-align: center;
  color: $dark-p-color;
  margin-top: 20px;
  margin-bottom: 60px;
  line-height: 28px;
}

hr {
  margin: 100px auto 80px;
  border-color: rgba(203,214,225,1);
}

header {
  position: fixed;
  height: 80px;
  width: 100%;
  margin-top: 0;
  background: white;
  box-shadow: 0 4px 9px 0 rgba(19,37,57,0.1);
  z-index: 999;

  .logo {
    height: 32px;
    margin-top: 24px;
  }

  .nav {
    .nav-item {

      padding: 29px 1rem 0 1rem;

      a.nav-link {
        color: $dark-menu-color;
        font-size: 0.875em;
        padding: 0;
        padding-bottom: 27px
      }

      a.active {
        color: $blue-bg;
        border-bottom: 3px solid $blue-bg;
      }
    }
  }

  .header-ctas {
    position: relative;
    margin: 20px 0;
    float: right;

    .btn {
      padding: .8em 1.6em;
      border-radius: 10em;
      font-size: 0.875em;
    }

    .signup-btn {
      background: $green-bg;
      color: white;
    }

    .demo-btn {
      background: $blue-bg;
      color: white;
      margin-left: 10px;
    }


  }
}


.banner {
  position: relative;
  height: 670px;
  width: 100%;
  background-image: url(../img/banner-pattern.png);
  background: rgba(26,41,62,.9), url(../img/banner-pattern.png) ;
  background: moz-linear-gradient(45deg, rgba(26,41,62,.9) 0%, rgba(19,46,80,.9) 50%, rgba(10,52,102,.9) 100%), url(../img/banner-pattern.png);
  background: -webkit-linear-gradient(45deg, rgba(26,41,62,.9) 0%,rgba(19,46,80,.9) 50%,rgba(10,52,102,.9) 100%), url(../img/banner-pattern.png);
  background: linear-gradient(45deg, rgba(26,41,62,.9) 0%,rgba(19,46,80,.9) 50%,rgba(10,52,102,.9) 100%), url(../img/banner-pattern.png) ;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a293e', endColorstr='#0a3466',GradientType=1 );
  z-index: 1;
  padding-top: 120px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);

  h1 {
    font-size: 32px;
    color: white;
    text-align: center;
    margin-top: 30px;
    letter-spacing: 0.93px;
    }

  .color-green {
      color: $green-title-color;
  }

  p {
    font-size: 18px;
    line-height: 30px;
    color: rgba(255, 255, 255, .9);
    text-align: center;
    margin-top: 20px;
  }

  .getstarted-btn {
    background: $blue-bg;
    color: white;
    border-radius: 100px;
    text-align: center;
    display: block;
    width: 200px;
    padding: 13px;
    margin: 35px auto;
    box-shadow: 0 1px 2px 0 rgba(11,36,66,.8);
  }
}

.app-screenshot {
  position: relative;
  height: 500px;
  width: 100%;
  background: rgba(255, 255, 255, .2);
  border-radius: 3px;
  margin-top: -250px;
  z-index: 99;
  padding: 15px;

  img {
    width: 100%;
    box-shadow: 0 1px 10px 0px rgba(0, 0, 0, 0.05);
  }
}

.what-is-helpjuice {
  position: relative;
  width: 100%;
  margin-top: 100px;

  .circular-illustraion {
    position: relative;
    display: block;
    margin: auto;
    height: 200px;
    width: 200px;
    border-radius: 999px;
    box-shadow: 0px 0px 0px 1px rgba(82, 167, 248, 0.2);
    img {
      width: 100%
    }
  }

  .center-illustration {
    display: block;
    margin: auto;
    width: 100%;
    img {
      width: 100%
    }
  }

  h4 {
    font-size: 28px;
    margin-top: 20px;
    color: $dark-title-color;
    text-align: center;
  }

 h5 {
    font-size: 0.875em;
    color: $dark-p-color;
    text-align: center;
    margin-top: 10px;
  }


  .about-feature {
    position: relative;
    width: 100%;
    margin-top: 100px;
    .feature-img {
      img {
        width: 100%;
      }
    }
    h4 {
      font-size: 1em;
      margin-top: 40px;
      text-transform: uppercase;
      color: $dark-title-color;
      text-align: center;
    }
    p {
      margin-top: 25px;
      text-align: center;
    }
  }

  .vertical-separator {
    display: block;
    width: 1px;
    height: 410px;
    margin: auto;
    background: rgba(203,214,225,1);
  }

  .on-premise {
    h5 {
      font-size: 1.2em;
      margin: 30px auto;
      text-align: center;
    }
    p {
      margin-bottom: 30px;
    }
    .more-btn {
      padding: .8em 1.6em;
      border-radius: 10em;
      font-size: 0.875em;
      background: $blue-bg;
      color: white;
      margin-left: 15px;
      display: block;
      margin: auto;
      width: 160px;
    }
  }
}

.our-clients {

  .our-clients-img {
    margin: 10px auto 0px;
    width: 80%
  }

}

.testimonials {
  position: relative;
  margin-top: 100px;
  min-height: 468px;
  width: 100%;
  background: #223141; //Fallback
  background: url(../img/testimonials-bg.png);
  background-size: cover;
  background-repeat: no-repeat, no-repeat;
  padding-top: 80px;
  padding-bottom: 80px;

  .testimonial-text {
    position: relative;
    width: 80%;
    margin: auto;
    padding-top: 20px;
    background: url(../img/start-quote.png) top right no-repeat,  url(../img/end-quote.png)  bottom left no-repeat;
  }
  p {
    font-size: 1.4em;
    //width: 80%;
    //display: block;
    //margin: auto;
    padding-bottom: 20px;
    line-height: 38px;
    color: rgba(255,255,255,.7);

  }

  .avatar {
    img {
      margin-top: 50px;
    }
    h4 {
      color: $green-title-color;
      text-align: center;
      font-size: 1.2em;
      margin-top: 20px;
    }
    h5 {
      text-align: center;
      font-size: 1em;
      margin-top: 10px;
      color: rgba(255,255,255, .6);
    }
  }

}
