//1rem = 16px

// Custom Style

body {
  background: #FBFCFD;
  //padding-bottom: 200px;
  font-family: $proxima;
}

.centred {
  display: block;
  margin: auto
}

h2 {
  text-align: center;
  color: $dark-title-color;
  letter-spacing: 0.48px;
  font-size: 1.6em;
  line-height: 32px;
  margin-top: 10px;
  font-family: $proxima;
  font-weight: 600;
  font-style: normal;
}

h3 {
  text-align: center;
  color: $green-title-color;
  text-transform: uppercase;
  font-size: 1em;
  margin-bottom: 20px;
  font-family: $proxima;
  font-weight: 700;
  font-style: normal;
}

p {
  font-size: 1em;
  text-align: center;
  color: $dark-p-color;
  margin-top: 20px;
  //margin-bottom: 60px;
  line-height: 28px;
}

hr {
  margin: 80px auto 100px;
  border-color: rgba(203, 214, 225, 0.43);
}

@include media-breakpoint-down(sm) {
  hr {
    margin: 60px auto 60px;;
  }
}

::-webkit-input-placeholder { /* Chrome */
  color: #374C61;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #374C61;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #374C61;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: #374C61;
  opacity: 1;
}

.navbar {
  position: fixed;
  z-index: 999;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  background: white;
  box-shadow: 0 4px 9px 0 rgba(19,37,57,0.1);

  .navbar-brand {
    margin-right: 50px;
  }
  .navbar-nav {
      .nav-item {
        padding-left: .7rem;
        padding-right: .7rem;

        a.nav-link {
          color: $dark-menu-color;
          font-size: 0.875em;
          padding-top: 1.95rem;
          padding-bottom: 1.55rem;

          &:hover, &:active {
            color: $blue-bg;
          }
        }

        a.active {
          color: $blue-bg;
          border-bottom: 3px solid $blue-bg;
          //font-weight: 600;
        }
      }
    }

  .header-ctas {
    position: relative;
    margin: 20px 0;
    float: right;

    .btn {
      padding: .8em 1.6em;
      border-radius: 10em;
      font-size: 0.875em;
    }

    .signup-btn {
      background: $green-bg;
      color: white;
    }

    .demo-btn {
      background: $blue-bg;
      color: white;
      margin-left: 5px;
    }

  }
}

.bg-white {
  background-color: white;
}

header {
  position: fixed;
  height: 80px;
  width: 100%;
  margin-top: 0;
  background: white;
  box-shadow: 0 4px 9px 0 rgba(19,37,57,0.1);
  z-index: 999;

  .logo {
    height: 32px;
    margin-top: 24px;
  }

  .nav {
    .nav-item {
      padding: 29px 1rem 0 1rem;

      a.nav-link {
        color: $dark-menu-color;
        font-size: 0.875em;
        padding: 0;
        padding-bottom: 27px
      }

      a.active {
        color: $blue-bg;
        border-bottom: 3px solid $blue-bg;
      }
    }
  }

  .header-ctas {
    position: relative;
    margin: 20px 0;
    float: right;

    .btn {
      padding: .8em 1.6em;
      border-radius: 10em;
      font-size: 0.875em;
    }

    .signup-btn {
      background: $green-bg;
      color: white;
    }

    .demo-btn {
      background: $blue-bg;
      color: white;
      margin-left: 10px;
    }


  }
}

.banner {
  position: relative;
  height: 670px;
  width: 100%;
  background-image: url(../img/banner-pattern.png);
  background: rgba(26,41,62,.9), url(../img/banner-pattern.png) ;
  background: moz-linear-gradient(45deg, rgba(26,41,62,.9) 0%, rgba(19,46,80,.9) 50%, rgba(10,52,102,.9) 100%), url(../img/banner-pattern.png);
  background: -webkit-linear-gradient(45deg, rgba(26,41,62,.9) 0%,rgba(19,46,80,.9) 50%,rgba(10,52,102,.9) 100%), url(../img/banner-pattern.png);
  background: linear-gradient(45deg, rgba(26,41,62,.9) 0%,rgba(19,46,80,.9) 50%,rgba(10,52,102,.9) 100%), url(../img/banner-pattern.png) ;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a293e', endColorstr='#0a3466',GradientType=1 );
  z-index: 1;
  padding-top: 120px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);

  h1 {
    font-size: 32px;
    color: white;
    text-align: center;
    margin-top: 30px;
    letter-spacing: 0.93px;
    font-weight: 700;
    font-style: normal;
    font-family: $proxima;
    }

  .color-green {
      color: $green-title-color;
  }

  p {
    font-size: 18px;
    line-height: 30px;
    color: rgba(255, 255, 255, .9);
    text-align: center;
    margin-top: 20px;
    font-weight: 300;
  }

  .getstarted-btn {
    background: $blue-bg;
    color: white;
    border-radius: 100px;
    text-align: center;
    display: block;
    width: 200px;
    padding: 13px;
    margin: 35px auto;
    box-shadow: 0 1px 2px 0 rgba(11,36,66,.8);
  }
}

.app-screenshot {
  position: relative;
  max-height: 500px;
  width: 100%;
  background: rgba(255, 255, 255, .2);
  border-radius: 3px;
  margin-top: -250px;
  z-index: 99;
  padding: 15px;

  img {
    width: 100%;
    box-shadow: 0 1px 10px 0px rgba(0, 0, 0, 0.05);
  }
}

@include media-breakpoint-down(sm) {
  .app-screenshot {
    margin-top: -210px;
  }
  .banner h1 {
    margin-top: 0;
    line-height: 48px;
  }
}

@include media-breakpoint-down(xs) {
  .app-screenshot {
    margin-top: -164px;
  }
}

.what-is-helpjuice {
  position: relative;
  width: 100%;
  margin-top: 100px;

  .circular-illustraion {
    position: relative;
    display: block;
    margin: auto;
    margin-top: 50px;
    height: 200px;
    width: 200px;
    border-radius: 999px;
    box-shadow: 0px 0px 0px 1px rgba(82, 167, 248, 0.2);
    img {
      width: 100%
    }
  }

  .center-illustration {
    display: block;
    margin: auto;
    margin-top: 50px;
    width: 100%;
    img {
      width: 100%
    }
  }

  h4 {
    font-size: 28px;
    margin-top: 20px;
    color: $dark-title-color;
    text-align: center;
    font-weight: 600;
  }

 h5 {
    font-size: 0.875em;
    color: $dark-p-color;
    text-align: center;
    margin-top: 10px;
  }


  .about-feature {
    position: relative;
    width: 100%;
    margin-top: 100px;
    .feature-img {
      img {
        width: 100%;
      }
    }
    h4 {
      font-size: 1em;
      margin-top: 40px;
      text-transform: uppercase;
      color: $dark-title-color;
      text-align: center;
    }
    p {
      margin-top: 25px;
      margin-bottom: 10px !important;
      text-align: center;
    }
  }

  .vertical-separator {
    display: block;
    width: 1px;
    height: 410px;
    margin: auto;
    background: rgba(203,214,225,1);
  }

  @include media-breakpoint-down(sm) {
    .hidden-sm-down {
      display: none;
    }
    .our-clients .our-clients-img {
        width: 100%;
    }
  }

  .navbar-toggler-icon {
    width: 1em !important;
    height: 1em;
  }

  .on-premise {
    margin-top: 40px;
    h5 {
      font-size: 1.2em;
      margin: 30px auto;
      text-align: center;
      font-weight: 600;
    }
    p {
      margin-bottom: 30px;
    }
    .more-btn {
      padding: .8em 1.6em;
      border-radius: 10em;
      font-size: 0.875em;
      background: $blue-bg;
      color: white;
      margin-left: 15px;
      display: block;
      margin: auto;
      width: 160px;
    }
  }
}

@include media-breakpoint-down(sm) {
  .what-is-helpjuice {
    margin-top: 80px;
    .center-illustration {
      display: none;
    }
    .circular-illustraion {
      margin: 30px auto;
    }
    .about-feature {
      margin-top: 60px;
    }
  }
}

.our-clients {
  .our-clients-img {
    margin: 10px auto 0px;
    width: 80%
  }

}

.testimonials {
  position: relative;
  margin-top: 100px;
  min-height: 468px;
  width: 100%;
  background: #223141; //Fallback
  background: url(../img/testimonials-bg.png);
  background-size: cover;
  background-repeat: no-repeat, no-repeat;
  padding-top: 80px;
  padding-bottom: 80px;

  .testimonial-text {
    position: relative;
    width: 80%;
    margin: auto;
    padding-top: 20px;
    background: url(../img/start-quote.png) top right no-repeat,  url(../img/end-quote.png)  bottom left no-repeat;
  }
  p {
    font-size: 1.4em;
    padding-bottom: 20px;
    line-height: 38px;
    color: rgba(255,255,255,.7);

  }

  .avatar {
    img {
      margin-top: 50px;
    }
    h4 {
      color: $green-title-color;
      text-align: center;
      font-size: 1.2em;
      margin-top: 20px;
    }
    h5 {
      text-align: center;
      font-size: 1em;
      margin-top: 10px;
      color: rgba(255,255,255, .6);
    }
  }
}

@include media-breakpoint-down(sm) {
  .testimonials {
    margin-top: 60px;
  }
}



.join-us {
    position: relative;
    padding-top: 80px;
    padding-bottom: 60px;
    margin-bottom: 40px;
    margin-top: 60px;
    min-height: 420px;
    width: 100%;
    background: url(../img/map.png);
    background-repeat: no-repeat;
    background-position: center;
    //background-size: cover;

    .join-us-form {
      margin-top: 40px;
      input {
        border-radius: 100px 0px 0px 100px;
        border: 1px;
        border-right: 0px;
        border-style: solid;
        border-color: rgba(103, 124, 145, .36);
        padding: .8em 1.6em;
        min-width: 300px;
      }
      button {
        border-radius: 0 100px 100px 0;
        background: $blue-bg;
        border: 1px solid $blue-bg;
        padding-top: 15px;
        padding-bottom: 15px;
        padding: .8em 1.6em;
        text-transform: uppercase;
      }

    }
}

@include media-breakpoint-down(sm) {
  .join-us-input {
    margin-bottom: 20px;
  }
  .join-us {
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 10px;
    margin-top: 40px;
    min-height: 420px;
    .join-us-form {
      margin-top: 30px;
      input, button {
        border-radius: 100px;
        min-width: 360px;
      }
      input {
        border-right: 1px !important;
      }
    }
  }
}

footer {
  position: relative;
  //min-height: 300px;
  background: #1a293e;

  .footer {
    position: relative;
    width: 100%;
    background: transparent;
    min-height: 300px;
    padding-top: 60px;
    padding-bottom: 10px;
    ul {
      padding: 0;
      list-style: none;
      padding-top: 30px;
      li {
        font-size: .875em;
        padding-bottom: 16px;
        a {
          color: #c6c8ca;
          font-weight: 300;
        }
      }
    }
  }

  h5 {
    text-align: left;
    color:#c6c8ca;
    font-size: 1.1em;
    margin-top: 30px;
  }

  p {
    font-size: .75em;
    color: #c6c8ca;
    text-align: left;
    opacity: .7;
    line-height: 18px;

    a {
      color: #c6c8ca;
    }
  }

  .copyright {
    position: relative;
    min-height: 80px;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #c6c8ca;
    background: #18263a;
    font-size: .875em;

    .email:before {
      background: url(https://static.helpjuice.com/assets/marketing/icons/footer-email@2x-8593b25….png) center center no-repeat;
      background-size: 16px auto;
      width: 16px;
      height: 12px;
      top: calc(50% - 6px);
    }

    .phone:before {
        background: url(https://static.helpjuice.com/assets/marketing/icons/footer-phone@2x-53e8e34….png) center center no-repeat;
        background-size: 12px auto;
        width: 12px;
        height: 16px;
        top: calc(50% - 8px);
        left: 5px;
    }
  }
}

@include media-breakpoint-down(sm) {
  footer {
    .copyright {
      text-align: center;
      .phone, .email {
        padding-top: 10px;
        //line-height:  40px;
        display: inline-block;
        opacity: .7;

      }
    }
  }
}

//Navbar behavior on Mobile

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
      padding-right: 0;
      padding-left: 0;
  }
}

@include media-breakpoint-up(lg) {
  .button-li {
    display: none;
  }
}

@include media-breakpoint-down(md) {
  .header-ctas {
    display: none;
  }
}

@include media-breakpoint-down(md) {
  .navbar {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navbar-light .navbar-toggler {
    color: $dark-menu-color;
    border: 0;
  }

  .navbar-toggler {
    padding: 0;
  }

  .navbar-light .navbar-toggler-icon {
    background-image: url(../img/togglers.svg);
    font-size: 1em;
    width: 1.2em;
  }

  .navbar .navbar-nav .nav-item a.nav-link {
    padding: 0;
  }
  .nav-item {
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid rgba(103, 124, 154, 0.15);
    a {
      text-align: center;
    }
  }

  .button-li {
    padding-top: .4em;
    padding-bottom: .4em;
    //margin-bottom: 10px;

    a.nav-link {
      padding-top: .9em;
      padding-bottom: .9em;
      text-align: center;
      color: white !important;
      text-decoration: none;
      border-radius: 100px;
      text-transform: uppercase;
      font-size: 0.875em;
      display:block;
      margin: auto;
      width: 300px;
    }
    .demo-li-btn {
      background: $blue-bg;
    }

    .signup-li-btn {
      background: $green-bg;
      //padding-top: 17px;
    }
    .nav-item:last-child {
      margin-bottom: 20px;
    }
  }

  .navbar .navbar-nav .nav-item a.active {
    color: #52A7F8;
    border-bottom: 0;
  }

  .navbar .navbar-nav .nav-item {
    padding-left: 0;
    padding-right: 0;
  }
}
